@import "./../../variables.less";

.Showcase {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 25vw;
    height: 100vh;

    box-sizing: border-box;
    color: @text-main;

    padding: 2rem;

    img {
        margin: auto;
        width: 100%;
    }

    h1 {
        padding-top: 0px;
        margin-top: 0px;
    }


}