.InfoEntryPage {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .InfoContainer {

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .InfoTitleSection {
            padding: 2rem;
        }

        .InfoDataSection {
            padding: 2rem;

            border-left: solid 1px black;
        }

        .InfoSearchedBooks {
            padding: 2rem;

            border-left: solid 1px black;

            
        }
    }
}